<div class="success_flash">
  <%= flash[:success] %>
</div>

<body class="show_main">
    <p class="show_item"><strong>Tiele: </strong><%= @book.title %></p>
    <p class="show_item"><strong>Body: </strong><%= @book.body %></p>
    <%= link_to "Edit", edit_book_path(@book.id) %>
    |
    <%= link_to "Back", books_path %>
</body>
